# Byte-compiled / optimized / DLL files
__pycache__/
*.egg-info/

# Ray Tune / Ray results
results/ex4_Ray/ray_results/
**/ray_results/
**/session_*/
**/artifacts/

# Ray Tune run artifacts
**/tuner.pkl
**/experiment_state*.json
**/basic-variant-state*.json
**/.validate_storage_marker
**/error.pkl
**/*.pkl

# experiment outputs / logs
runs/
mlruns/
**/events.out.tfevents*

# exclude all datasets
data/

# exclude data
data/external**/*.gz
data/external/**/raw/**
data/external/*.pt
data/external/*.csv
data/raw/*.arff

# Mac OS-specific storage files
.DS_Store

# caches and db
.vscode/
.mypy_cache/
**/checkpoint.pt
.ipynb_checkpoints/
.lycheecache
**/gestures/
.venv
.notebookcache
*.db

# hypertuning, logs
**/mlruns/*
**/events.out.tfevents*
**/models/
**/modellogs/*
**/modellog/*
**/logs/
**/demo/
**/*.log
model.toml
settings.toml
*.pt
